<div class="sidebar" nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
    <div class="sidebar-content">
        <div class="header" nz-flex [nzAlign]="'center'" [nzJustify]="'space-between'">
            <h3>Your library</h3>
            <img src="/icons/home.png" alt="" />
        </div>

        <div class="create-playlist">
            <div class="content">
                <h3>Create your first playlist</h3>
                <span>It's easy, we'll help you</span>
            </div>
            <button class="create">Create playlist</button>
        </div>
    </div>
</div>
