<div class="footer" nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
    <div nz-flex [nzAlign]="'center'" [nzJustify]="'center'" [nzGap]="20" class="item isPlaying">
        <img src="/banner.jpeg" alt="" />
        <div class="info">
            <h3 class="title">Spotify Clone</h3>
            <span class="sub-title">Ads</span>
        </div>
    </div>
    <div nz-flex [nzVertical]="true" [nzAlign]="'center'" [nzJustify]="'center'" [nzGap]="5" class="item controller">
        <div nz-flex [nzAlign]="'center'" [nzJustify]="'center'" [nzGap]="40" class="control">
            <img src="/icons/prev.svg" alt="" />
            <img class="pause" src="/icons/pause.svg" alt="" />
            <img src="/icons/next.svg" alt="" />
        </div>
        <div nz-flex [nzAlign]="'center'" [nzJustify]="'center'" [nzGap]="10" class="progress">
            <div class="timer">
                0:00
            </div>
            <div class="bar">
            </div>
            <div class="timer">
                4:00
            </div>
        </div>
    </div>
    <div nz-flex [nzAlign]="'center'" [nzJustify]="'center'" [nzGap]="10" class="item volumn">
        <img src="/icons/home.png" alt="" />
        <div class="percent">
        </div>
    </div>
</div>
